* {
  font-family: "Kumbh Sans", sans-serif;
}

.pri {
  background-color: #cccccc;
  border-radius: 3px;
  padding-right: 3px;
  padding-left: 3px;
}

.butt {
  background-color: #2980b9;
  border-radius: 3px;
  padding-right: 13px;
  margin-left: 20px;
}

.butto {
  color: #ffffff !important;
}

.hero h2,
.hero h1 {
  animation-name: fadeUp;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.services__card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.add {
  font-weight: bolder;
  font-size: 35px !important;
}

.add1 {
  font-weight: bolder;
  font-size: 35px !important;
}
