{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/research.css' %}" />
    <title>Market research</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="{% static 'img/UoG-Logo.png' %}" alt="" />
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'research' %}">Market Research</a></li>
          <li>Welcome! {{request.user.username|capfirst}}</li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </nav>
    </header>

    {% if product_profile == False %}
    <!-- <div style="transform: translate(0,300%);"><h1>You don't have any request.</h2></div> -->
    <script>
      alert("You don't have any request");
      window.location.href = "/";
    </script>
    <h5>You don't have any request</h5>
    {% else %}

    <div class="main-container" style="margin-top: 30px">
      <div class="table-container" style="margin-top: 70px">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Company Name</th>
              <th>Product</th>
              <th>Date</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for product in product_profile %}
            <tr>
              <td>{{ product.company_name }}</td>
              <td>{{ product.product_name }}</td>
              <td>{{ product.date|date:"M j, Y, g:i a" }}</td>
              <td>{{ product.status }}</td>
              <td class="actions-btns">
                {% if product.status != 'responded' %}
                <a
                  href="{% url 'response' pk=product.product_id %}"
                  class="view-btn"
                  >View</a
                >
                {% else %} {% endif %} {% if product.status == 'responded' %}
                <a
                  href="{% url 'update_response' pk=product.product_id %}"
                  class="update-btn"
                  >Update</a
                >
                <p id="update-time"></p>
                {% else %} {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="pagination" style="margin-top: 30px">
        <button class="prev-btn">&lt; Previous</button>
        <div class="page-info"></div>
        <button class="next-btn">Next &gt;</button>
      </div>
    </div>
    {% endif %}

    <footer>
      <p class="my-2">
        Copyright ©2023 UoG. All rights reserved | Developed by IOT students
        under the guidance of Mr.Zemenu.
      </p>
    </footer>
  </body>
  <script src="{% static 'js/app.js' %}"></script>
</html>
